* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: lightblue;
}

.box {
  clip-path: polygon(
    0% 50%,
    0% 100%,
    100% 100%,
    100% 50%,
    50% 50%,
    7% 8%,
    10% 50%
  );

  background-color: white;
  width: 100px;
  height: 100px;
}
