* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: white;
}

.main-icon {
  width: 50px;
  height: 50px;
  background-color: purple;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}
