* {
  padding: 0px;
  margin: 20px;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.line-container {
  min-width: 30px;
  min-height: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 10px;
}

.line-container.active .line-1 {
  transform: rotate(45deg);
}

.line-container.active .line-2 {
  opacity: 0;
}

.line-container.active .line-3 {
}
