* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 100px;
  color: slateblue;
}

.container{
  position: relative;
  background-color: slategray;
  padding: 0;
}

.drop{
  width: 30px;
  height: 30px;
  clip-path: ellipse(25% 40% at 50% 50%);
  background-color: red;
  position: absolute;
  top: 0;
}