* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: lightgray;
  font-family: "Roboto", sans-serif;
}

.video {
  clip-path: circle(50% at 50% 50%);
}
