* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.video {
  clip-path: circle(10% at 0% 0%);
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2{
  background-color: blue;
}
