* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: lightblue;
}

.box {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  transform: skew(25deg);
  transform-style: preserve-3d;
}
