* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  perspective: 1000px;
}

.button{
  width: 200px;
  height: 100px;
  transform: rotateX(60deg);
  border-radius: 10px;
  border: 1px solid #333333;
  background-color: lightpink;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}