* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
}

.video {
  width: 100%;
  height: 100%;
  clip-path: circle(5% at 50% 50%);
}

h2{
  background-color: blue;
}
