* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.button {
  width: 50px;
  height: 50px;
  border: 2px solid #333333;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.fill {
  position: absolute;
  width: 120%;
  height: 120%;
  bottom: -50px;
  right: -50;
  background-color: #333333;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  z-index: 0;
}

.icon {
  color: #333333;
}

.button:hover .fill {
  transform: translate(-45px, -45px);
}

.button:hover .icon {
  color: white;
  z-index: 1;
}
