* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  padding: 10px;
  outline: none;
  width: 150px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.button-1 {
  background-color: lightcoral;
  position: relative;
}

.button-1:hover.button-1::before {
  position: absolute;
  width: 100%;
  height: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  content: "JOKING!";
  font-weight: bold;
  background-color: rgb(231, 69, 69);
  animation: retrive 2s ease;
  overflow: hidden;
}

@keyframes retrive {
  to {
    height: 100%;
  }
}
