* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: lightcoral;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 400px;
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.interactive-container {
  width: 150px;
  height: 100px;
  background-color: teal;
  position: relative;
  /* overflow: hidden; */
}

.card {
  width: 70px;
  height: 40px;
  background-color: rgb(135, 250, 215);
  border-radius: 5px;
  position: absolute;
  top: 30px;
  left: 40px;
}

.card-line {
  width: 60px;
  height: 10px;
  background-color: rgb(120, 212, 83);
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 5px;
}

.card-circles {
  position: absolute;
  top: 25px;
  left: 5px;
  display: flex;
}

.card-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

.card-circle:nth-child(1) {
  background-color: rgb(120, 212, 83);
}

.card-circle:nth-child(2) {
  background-color: rgb(80, 153, 51);
}

.card-circle:nth-child(3) {
  background-color: rgb(40, 95, 18);
}

.text-container {
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
