* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  perspective: 1000px;
}

.button {
  width: 200px;
  height: 100px;
  transform: rotateX(60deg);
  border-radius: 10px;
  border: 1px solid #333333;
  background-color: lightpink;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
}

.button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 10%;
  border-radius: inherit;
  border: inherit;
  bottom: -10px;
  background: rgb(252, 147, 164);
  transform: translate3d(0, 0, -20px)  rotateX(90deg);
}
