* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: lightgray;
}

h1 {
  font-size: 150px;
  font-weight: 800;
  position: absolute;
}

.text {
  color: lightgray;
  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
    2px 2px 0 #000000;
}

.text-liquid {
  color: lightskyblue;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%,100% 
	{
		clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
	}
	50%
	{
		clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
	}
}
