* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.button {
  width: 100px;
  height: 100px;
  margin: 100px;
  position: relative;
  border: 1px solid #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 80%;
  height: 80%;
  border: 2px solid #1976d2;
  border-radius: 50%;
}

img {
  width: 50%;
}
