* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 50px;
}

.container{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}