* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: lightcyan;
  perspective: 900px;
}

.card {
  width: 20%;
  height: 80%;
  transition: 0.5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 10px 30px #555;
  background-color: white;
  padding: 20px;
}

.card:hover {
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
}

.img{
  width: 100%;
}
/* .card-1{
  background-color: lightgreen;
}

.card-2{
  background-color: lightsalmon;
}

.card-3{
  background-color: lightgreen;
} */
