* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* PAGE1

h1{
  color: coral;
}

.circle-container {
  display: flex;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  animation: loading 1s infinite;
  opacity: 0;
}

.circle-1{
  background-color: tomato;
}

.circle-2{
  background-color: salmon;
}

.circle-3{
  background-color: coral;
}

@keyframes loading {
  100% {
    opacity: 1;
  }
} */

/* PAGE2

h1 {
  color: coral;
}

.circle-container {
  display: flex;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  animation: loading .5s infinite alternate;
}

.circle-1 {
  background-color: tomato;
}

.circle-2 {
  background-color: salmon;
}

.circle-3 {
  background-color: coral;
}

@keyframes loading {
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(20px, -20px);
  }
  75% {
    transform: translate(30px, -10px);
  }
  100% {
    transform: translate(30px, 0px);
  }
} */

/* PAGE3

h1 {
  color: coral;
  font-weight: 300;
  margin-top: ;
}

.circle-container {
  display: flex;
  border-bottom: 2px solid lightcoral;
  padding: 0px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 10px;
  animation: loading 0.5s infinite alternate;
}

.circle-1 {
  background-color: tomato;
}

.circle-2 {
  background-color: salmon;
  animation-delay: 0.1s;
}

.circle-3 {
  background-color: coral;
  animation-delay: .2s;
}

@keyframes loading {
  100% {
    transform: translateY(-100px);
  }
} */

/* PAGE3 */

.container {
  width: max-content;
  height: max-content;
}

h1 {
  font-size: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke,
    1px 1px 0 whitesmoke;
  color: white;
  position: relative;
}

h1::before {
  content: "Loading";
  color: coral;
  top: 0;
  left: 0;
  width: 0%;
  position: absolute;
  animation: move 4s linear infinite;
  overflow: hidden;
}

@keyframes move {
  100% {
    width: 100%;
  }
}
