* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.button {
  width: 100px;
  height: 100px;
  margin: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  width: 80%;
  height: 80%;
  border: 1px solid #1976d2;
  border-radius: 50%;
  opacity: 0;
  transition: all ease 1s;
}

.circle2 {
  width: 90%;
  height: 90%;
  border-width: 2px;
}

.circle3 {
  width: 75%;
  height: 75%;
  border: 3px dashed #f9514c;
  transition: transform ease-in 1s, opacity ease-in .2s;
}

.circle4 {
  width: 75%;
  height: 75%;
  background-color: rgb(231, 239, 247);
  z-index: 0;
  border-radius: 20px;
  transition: transform ease-in 1s, opacity ease-in .2s;
}

img {
  width: 50%;
  z-index: 1;
}

.facebook:hover .circle {
  opacity: 1;
}

.instagram:hover .circle3 {
  transform: rotate(360deg);
  opacity: 1;
}

.twitter:hover .circle4{
  transform: rotate(90deg);
  opacity: 1;
}