* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aquamarine;
  position: relative;
}

.video {
  position: absolute;

  clip-path: circle(10%);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  color: white;
}
