* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.circle-container{
  display: flex;
  background-color: lawngreen;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
}