* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: aquamarine;
}

.container {
  background-color: lightsalmon;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1{
  color: white;
}

h1::before{
  content: "add before";
  color: lightblue;
}


h1::after{
  content: "add after";
  background-color: antiquewhite;
}