* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/01/84/82/01848284003dddae20b94a570e29bbbf.jpg");
}

h1 {
  font-size: 50px;
  color: white;
  animation: glow 2s ease-in-out infinite alternate;
  font-weight: 100;
}

span{
  width: 100%;
  background-color: rosybrown;
  font-size: 25;
  margin-bottom: 25px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
