* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.line-container {
  margin: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: lightpink;
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 10px;
  top: 13px;
  transition: transform 1s ease;
}

.line-container.active .line-1,
.line-3 {
  transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
  margin: 0;
}

.line-container.active .line-2 {
  width: 0;
  height: 0;
}

.line-container.active .line-3 {
  transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
}
