* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: lightsalmon;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item{
  width: 100px;
  height: 50px;
  background-color: lightgray;
  position: absolute;
  left: 0;
}