* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  color: tomato;
}

.circle-container {
  display: flex;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
  animation: loading ease-in-out 1s infinite alternate;
  opacity: 0;
}

.circle-1{
  background-color: tomato;
}

.circle-2{
  background-color: salmon;
}

.circle-3{
  background-color: coral;
}

@keyframes loading {
  100% {
    opacity: 1;
  }
}
