* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: white;
}

.container{
  position: relative;
  width: 60px;
  height: 60px;
}

.button{
  width: 30px;
  height: 30px;
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.button:nth-child(1){
  top: 0;
}
