* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: white;
}

.phone {
  width: 60px;
  height: 60px;
  background-color: limegreen;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.icon {
  transform: rotate(-30deg);
}

.phone::before,
.phone::after {
  width: 60px;
  height: 60px;
  position: absolute;
  content: "";
  border: 1px solid limegreen;
  border-radius: 50%;
}

.phone::before {
  animation: move 1.5s linear infinite;
}

.phone::after {
  animation: move 1.5s  linear infinite;
  animation-delay: .5s;
}

@keyframes move {
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
