* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.circle{
  width: 10px;
  height: 10px;
  background-color: aqua;
}